<ion-view view-title="Parking lots">
  <!--
  <ion-header-bar class="bar-calm">
    <h1 class="title">Point2Park</h1>
  </ion-header-bar>
-->
  <ion-content>

    <div class="list">
      <div class="item item-divider">
        Parquesol (zona norte)
      </div>
      <a class="item item-icon-center">
        <div class="row">
          <div class="col">
            <span style="font-size: 22px; color:grey">4 km</span>
          </div>
          <div class="col">
            <span class="balanced" style="font-size: 22px">45 </span><i class="ion-android-car balanced" style="font-size: 22px"></i>
          </div>
          <div class="col">
            <button class="button button-small button-energized">
              <i class="icon ion-ios-location"> Come on!</i>
            </button>
          </div>
          <div class="col">
            <button class="button button-small button-calm">
              <i class="icon ion-ios-checkmark-outline"> It's mine!</i>
            </button>
          </div>
        </div>

      </a>
    </div>

    <ion-list>
      <ion-item ng-repeat="x in name">
        <span>Hello world, my name is {{x.firstName}} {{x.lastName}}!</span>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
