<ion-view view-title="Parking lots">
  <!--
  <ion-header-bar class="bar-calm">
    <h1 class="title">Point2Park</h1>
  </ion-header-bar>
-->
  <ion-content>
    <ion-refresher pulling-text="Pull To Refresh" on-refresh="doRefresh()"
              refreshing-text="Fetching ..." refreshing-icon="ion-loading-b"
            ></ion-refresher>
    <div class="list" ng-repeat="parkinglot in parkinglots | orderBy:-'distance'"> <!-- track by $index -->
      <div class="item item-divider">
        {{parkinglot.name}} ({{parkinglot.zone}})
      </div>
      <div class="item item-icon-center">
        <div class="row">
          <div class="col">
            <span style="font-size: 22px; color:grey">{{parkinglot.distance}}</span>
            <!--temp init ng-init="distance(parkinglot.lat, parkinglot.lon,parkinglot.$loki);" -->
          </div>
          <div class="col">
            <span class="balanced" style="font-size: 22px">{{parkinglot.free}} </span><i class="ion-android-car balanced" style="font-size: 22px"></i>
          </div>
          <div class="col">
            <button class="button button-small button-energized" ng-click="window.open('geo:parkinglot.lat,parkinglot.lat?q=address', '_system');">
              <i class="icon ion-ios-location"> Come on!</i>
            </button>
          </div>
          <div class="col">
            <button class="button button-small button-calm">
              <i class="icon ion-ios-checkmark-outline"> It's mine!</i>
            </button>
          </div>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
