<ion-tabs class="tab-icon-only tabs-striped tabs-background-calm tabs-top tabs-color-light">
  <ion-tab hidden="true">
    <ion-nav-view name="tab-info" title="Point2Park Info" href="#/tab/info"></ion-nav-view>
  </ion-tab>
  <ion-tab icon="ion-ios-barcode">
    <ion-nav-view name="tab-parking" title="Parking lots" href="#/tab/parking"></ion-nav-view>
  </ion-tab>
  <ion-tab icon="ion-gear-a" title="Options" href="#/tab/options">
    <ion-nav-view name="tab-options"></ion-nav-view>
  </ion-tab>
</ion-tabs>
